$white: #fff;
$whiteOpacity0d15: #ffffff26;
$whiteOpacity0d35: #ffffff59;
$magnolia: #f6f5f7;
$aliceBlue: #f6f7f8;
$magnoliaDark: #eeedf0;
$whisper: #e5e5e5;
$withdrawal: #6c737d;
$titanWhite: #d8d7d9;
$blackOpacity0d01: #0000001a;
$silver: #c5c5c5;
$blackOpacity0d35: #00000059;
$blackOpacity0d72: #000000b8;
$greySuit: #9b9a9d;
$topaz: #78767b;
$nero: #292929;
$black: #000;
$orange: #fa6400;
$sunsetOrange: #f2483c;
$extraRed: #f2483d;
$persianRed: #e52322;
$disablePersianRed: #e58484;
$freeSpeechRed: #d91411;
$panache: #f2fee7;
$sulu: #cfff82;
$lightGreen: #e7f6ec;
$mediumSeaGreen: #36b368;
$maxSeaGreen: #b1d941;
$darkSeaGreen: #2d9f5b;
$pigmentGreen: #00923a;
$lightSeaGreen: #f4f8eb;
$panache: #ebffd7;
$cosmicLatte: #e6ffed;
$paleTurquoise: #bbfef5;
$funGreen: #106e39;
$varden: #fff2cf;
$tutu: #ffe6e6;
$warningLightOrange: #fff2cf;
$yellow: #fc0;
$supernova: #ffad26;
$lightningYellow: #ffa82e;
$warningOrange: #ef9312;
$nightShadz: #a44445;
$expressPoints: #ffa500;
$apelsinOrange: #f76100;
$dimGray: #6f6f6f;
$whiteOpacity0d80: rgba(255, 255, 255, 0.8);
$mexicanRed: #b32322;
$blueSky: #e8f7fe;
$extraPurple: #7e4aec;
$myrtle: #1b5820;
$grey: #c9c9c9;
$darkGreen: #022c0f;
$persianRedShadow: #d7382d;
$skeletonGray: #e8e8e8;
$nobel: #959595;
$darkGrey: #464646;
$blackOpacity0d12: #302e331f;
$greyPressed: #cbcbcc;
$lightGray: #f4f4f4;
$lightOffersGray: #f4f4f5;
$semitransparentBlack: rgba(0, 0, 0, 0.48);
$lightCardGray: #fffc;
$paket: #3c82ff;
$blackPrizes: #3d3b40;

/* Mystery Shopper colors */
$mysteryBlack: #111319;
$mysteryBgBlack: #1c1e26;
$mysteryDarkBlue: #232630;
$mysteryMediumBlue: #2f3340;
$mysteryLightBlue: #454a59;
$mysteryDarkGray: #888b9a;
$mysteryLightGray: #bcc0cc;
$mysteryWhite: #fafbfc;

/* Loyalty Clubs colors */
$fluffy: #e52322;
$kids: #0033a1;

/* redesign v2 colors */
$buttonSecondary: #f4f4f5;
$buttonSecondaryPressed: #cbcbcc;
$blueLighten: #e6f2ff;
$greenLighten: #edf6ec;
$sheerPeach: #fff6e6;
$orangeDuck: #ffa500;
$blackOpacity0d24: #0000003d;
$blackOpacity0d48: #0000007a;
$blackOpacity0d12: #0000001f;
$blackOpacity0d32: #00000052;
$greenLawn: #5faf2d;
$grass: #5faf2c;
$topazTransparent05: rgb(120 118 123 / 50%);
$vividOrange: #f76100;
$guidingStar: #ffe8da;
$haiti: #302e33;

/* loyalty redesign v2 colors */
$grey1C: #d9d9d6;
$grey5C: #b1b3b3;
$grey9C: #75787b;
$greenSecondary: #aae641;
$loyaltyGreen: #5faf2c;
$greenAdditional10: #ebfae1;
$blueAdditional10: #ebf5ff;
$blueAdditional40: #99cfff;
$bluePrimary: #0088fe;
$apelsinPrimary: #f76100;
$apelsinPressed: #e05800;
$apelsinDisabled: #ffa282;
$apelsinHover: #ff7b4c;
