@mixin max-lines($lines: 2) {
  /* stylelint-disable */
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /* stylelint-enable */
}

@mixin get-max-width($name) {
  @media (max-width: #{map-get($breakpoints, $name) - 1px}) {
    @content;
  }
}

@mixin get-min-width($name) {
  @media (min-width: map-get($breakpoints, $name) + 1px) {
    @content;
  }
}

@mixin get-max-height($name) {
  @media (max-height: #{map-get($heightBreakpoints, $name) - 1px}) {
    @content;
  }
}
